.header {
  all: initial;

  position: fixed;
  max-height: 70px;
  width: 100vw;

  display: flex;
  flex-direction: row;
  flex-flow: row nowrap;
  background-color: #282c34;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  align-items: center;

  color: white;

}

.divLogoHeader {
  will-change: filter;
  transition: filter 300ms;
  max-width: 20vw;
}

.divFillerHeader {
  width: 20vw
}

.header>nav {
  text-align: end;
  width: 60vw;
  padding: 1.5em;
}

.logo {
  all: initial;
  height: 15px;
  size: 15px;
  padding: 2.1em 1.5em 1.5em 1.5em;
}