.navbar {
  position: fixed;
  transition: width 600ms ease;
  background-color: var(--sv-bg-navigation);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  overflow: hidden;
  z-index: 100;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  all: initial;
  width: 100%;
  size: 15px;
}

/* Cola o ultimo icone na margem inferior*/
/* .nav-item:last-child {
  margin-top: auto;
} */

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--sv-transition-slow);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: rgba(0, 0, 0, 0.3);
  color: var(--sv-primary);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-primary {
  color: var(--sv-primary);
}

.fa-secondary {
  color: var(--sv-primary);
}

.fa-primary,
.fa-secondary {
  transition: var(--sv-transition-slow);
}

.sv-navbar-toggle {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: var(--sv-primary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.sv-navbar-toggle svg {
  transform: rotate(0deg);
  transition: var(--sv-transition-slow);
}

.sv-navbar-toggle-text {
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--sv-transition-slow);
}



/* Small screens */
@media only screen and (max-width: 767px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 4rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  }

  .toggleNavBar {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }
}

/* Large screens */
@media only screen and (min-width: 768px) {
  .navbar {
    top: 70px;
    width: 5rem;
    height: calc(100vh - 70px);
    box-sizing: border-box;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .toggleNavBar svg {
    margin-left: 11rem;
  }

  .navbar:hover .toggleNavBar-text {
    left: 0px;
  }
}

.theme-icon {
  display: none;
}

.dark #darkIcon {
  display: block;
}

.light #lightIcon {
  display: block;
}

.solar #solarIcon {
  display: block;
}